* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.5), hsla(0, 0%, 100%, 0.5));
    user-select: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  canvas {
    border: 0.1px solid grey;
    width: 75vw;
  }
  
  a {
    color: rgb(161, 157, 157);
  }
  
  .links {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.2em;
  }
  
  .separator {
    color: grey;
  }
  
  h1, h2 {
    margin-bottom: 15px;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px; /* Adjust padding as needed */
    width: 100%;
  }
  
  .navbar {
    background: #000;
    color: #fff;
    height: 60px;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
    padding: 0 20px; /* Adjust padding as needed */
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header {
    background-color: #000;
    color: #fff;
    min-height: 400px;
  }
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .boxes .container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    flex: 1;
    background: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
  }
  
  .box i {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    .boxes .container {
      display: block;
      text-align: center;
    }
  }
  